@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#main-layout {
    /* border: 2px solid red; */
    min-height: 100vh;
    background-color: bisque;
}

#main-container {
    /* border: 2px solid rgb(22, 180, 180); */
    min-height: 70vh;
    position: relative;
    top: 5pc;
    margin: 0px 3pc;
    background-color: white;
}

#main-container::before {
    content: "";
    background: url(/images/container.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    /* border: 2px solid black; */
}


/* Navbar related CSS  */

#navbar {
    /* border: 2px solid red; */
    display: flex;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    height: 3pc;
    position: relative;
    top: 5pc;
    width: 93%;
    left: 3pc;
    background-color: white;
    font-family: 'Nerko One', cursive;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    text-decoration: none;
    margin: 9px 24px;
    padding: 5px;
    color: black;
    text-align: center;
    display: flex;
    font-size: 1.2rem;
}


/* Footer related Css  */

footer {
    background-color: white;
    color: black;
    border-bottom-right-radius: 23px;
    border-bottom-left-radius: 23px;
    position: relative;
    top: 5pc;
    width: 93%;
    left: 3pc;
    height: 2pc;
}

footer p {
    padding: 7px;
}


/* Form related css */

.form {
    font-family: 'Merriweather', serif;
    height: 23pc;
    width: 40%;
    position: absolute;
    top: 3pc;
    left: 1pc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid red; */
    background-color: black;
    border-radius: 23px;
    padding: 22px;
    margin: 10px;
    opacity: 0.9;
}

button {
    background-color: #03A9F4;
    color: white;
    padding: 5px 8px;
    margin: 3px 0;
    margin-top: 9px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
    outline: none;
    font-family: 'Roboto Condensed', sans-serif;
}

input[type=text],
input[type=password] {
    color: black;
    padding: 5px 8px;
    margin: 2px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    outline: none;
}

label {
    color: white;
    font-weight: 400;
    margin: 3px;
}

span .psw a {
    text-decoration: none;
    color: white;
}

span {
    color: white;
}