<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial | Home</title>
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>
    <div id="main-layout">
        <nav id="navbar">
            <ul>
                <li><a href="/views/home.html">Home</a></li>
                <!-- <li><a href="/views/tutorial.html">Tutorial</a></li> -->
                <!-- <li><a href="#">Quizes</a></li> -->
                <li><a href="/views/about.html">About Us</a></li>
            </ul>
            <ul>
                <li><a href="/views/login.html">Login</a></li>
                <li><a href="/views/signup.html">Signup</a></li>
            </ul>
        </nav>
        <div id="main-container">
            <img src="../images/photo-1516305954067-e2ec597e702f.jfif" alt="">
            <h1>Welcome to Our Tutorial-Quiz Site</h1>
            <h3>Learn | Code | Play</h3>
        </div>
        <footer>
            <p>&copy; Tutorial Site & Co.</p>
        </footer>
    </div>
</body>

</html>