<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial | Home</title>
    <link rel="stylesheet" href="/static/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

</head>

<body>
    <div id="main-layout">
        <nav id="navbar">
            <ul>
                <li><a href="/views/home.html">Home</a></li>
                <!-- <li><a href="/views/tutorial.html">Tutorial</a></li> -->
                <!-- <li><a href="#">Quizes</a></li> -->
                <li><a href="/views/about.html">About Us</a></li>
            </ul>
            <ul>
                <li><a href="/views/login.html">Login</a></li>
                <li><a href="/views/signup.html">Signup</a></li>
            </ul>
        </nav>
        <div id="main-container">
            <img src="../images/photo-1516305954067-e2ec597e702f.jfif" alt="">
            <form action="/views/tutorial.html" method="POST">
                <div class="form">

                    <div class="innerform">
                       
                        <div class="inputWithIcon">

                            <label for="email" name="email" class="label">Email</label>
                            <input type="email" placeholder="John@xyz.com" required>
                            <hr>
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                        <div class="inputWithIcon">

                            <label for="password" name = "password" class="label">Password</label>
                            <input type="password" placeholder="**********" required>
                            <hr>
                            <i class="fa fa-key icon"></i>
                        </div>
                        <div class="button">

                            <button type="submit">Login</button>
                            <button type="submit">SignUp</button>


                        </div>
                        <span class="psw"><a href="/html/login.html">Forget Username/Password ?</a></span>
                    </div>



            </form>
        </div>
        <footer>
            <p>&copy; Tutorial Site & Co.</p>
        </footer>
    </div>
</body>


</html>