<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial | Home</title>
    <link rel="stylesheet" href="/static/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

</head>

<body>
    <div id="main-layout">
        <nav id="navbar">
            <ul>
                <li><a href="/views/home.html">Home</a></li>
                <!-- <li><a href="/views/tutorial.html">Tutorial</a></li> -->
                <!-- <li><a href="#">Quizes</a></li> -->
                <li><a href="/views/about.html">About Us</a></li>
            </ul>
            <ul>
                <li><a href="/views/login.html">Login</a></li>
                <li><a href="/views/signup.html">Signup</a></li>
            </ul>
        </nav>
        
        <div id="main-container">
            <img src="../images/photo-1516305954067-e2ec597e702f.jfif" alt="">
            <form action="/views/signup.html" method="POST">
                <div class="form">

                    <div class="innerform">
                        <div class="inputWithIcon">

                            <label for="name" name="name">Name</label>
                            <input type="text" placeholder="John Snow  ">
                            <hr>
                            <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
                        </div>
                        <div class="inputWithIcon">

                            <label for="email" name="email">Email</label>
                            <input type="text" placeholder="JohnSnow@xyz.com">
                            <hr>
                            <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
                        </div>
                        <div class="inputWithIcon">

                            <label for="uname" name="Username"class="label">Username</label>
                            <input type="text" placeholder="John@xyz.com" required>
                            <hr>
                            <i class="fa fa-id-card" aria-hidden="true"></i>
                    </div>
                    <div class="inputWithIcon">
                        
                        <label for="password" name="password" class="label">Password</label>
                        <input type="password" placeholder="**********" required>
                        <hr>
                        <i class="fa fa-key icon" ></i>
                        </div>
                        <div class="button">

                            <button type="submit">Submit</button>


                        </div>
                        <span class="psw"><a href="/views/login.html">Already have an account ?</a></span>
                    </div>



            </form>
        </div>
        <footer>
            <p>&copy; Tutorial Site & Co.</p>
        </footer>
    </div>
</body>


</html>