<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial</title>
    <link rel="stylesheet" href="/static/tutorial.css">
</head>

<body>
    <div id="main-layout">
        <nav id="navbar">
            <ul>
                <li><a href="/views/home.html">Home</a></li>
                <!-- <li><a href="/views/tutorial.html">Tutorial</a></li> -->
                <!-- <li><a href="#">Quizes</a></li> -->
                <li><a href="/views/about.html">About Us</a></li>
            </ul>
            
        </nav>
        <div id="main-container">
            <img src="../images/photo-1516305954067-e2ec597e702f.jfif" alt="">
            <h1>Welcome to Tutorials</h1>
            <div id="flex">

                <div class="cards">
                    <a href="#">HTML</a>
                </div>
                <div class="cards">
                    <a href="#">CSS</a>
                </div>
                <div class="cards">
                    <a href="/html/c_programming.html">C Programming</a>
                </div>
                <div class="cards">
                    <a href="#">CPP Programming</a>
                </div>
            </div>
        </div>
        <footer>
            <p>&copy; Tutorial Site & Co.</p>
        </footer>
    </div>
</body>

</html>